# Data Inputting and Cleaning

In [1]:
import pandas as pd

## Freddie Mac Dataset 1

We start with the 2021Q1 cross-sectional dataset from Freddie Mac where basic information about loans are given including important financial ratios, the borrower's credit score, and the loan originator. Looking though the documentation of all the quarters, this quarter has the most loans (an environment with increased COVID-related saving and low interest rates would generally lead to higher homebuying/mortgage origination). We import the data and then label it with the correct column names.

In [2]:
fredM21Q1 = pd.read_csv('historical_data_2021Q1.txt', sep="|", header=None)

In [3]:
print("Shape = {}".format(fredM21Q1.shape))

Shape = (1219680, 32)

Column Names are stored in another Excel file. Let's add those.

In [4]:
fredColumnNames = pd.read_excel('.\FreddieMacREADME\SF LLD File Layout Release 39.xlsx', header=None)
fredColumnNames = fredColumnNames.iloc[2:, 1].tolist()
fredM21Q1.columns = fredColumnNames
fredM21Q1.head()

,Credit Score,First Payment Date,First Time Homebuyer Flag,Maturity Date,Metropolitan Statistical Area (MSA) Or Metropolitan Division,Mortgage Insurance Percentage (MI %),Number of Units,Occupancy Status,Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,...,Number of Borrowers,Seller Name,Servicer Name,Super Conforming Flag,Pre-HARP Loan Sequence Number,Program Indicator,HARP Indicator,Property Valuation Method,Interest Only (I/O) Indicator,Mortgage Insurance Cancellation Indicator
0,725,202103,Y,205102,15804.0,0,1,P,80,30,...,1,"WELLS FARGO BANK, N.A.","WELLS FARGO BANK, N.A.",NaN,NaN,9,NaN,2,N,7
1,737,202103,N,205102,NaN,0,1,P,74,27,...,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N,7
2,744,202105,N,204104,48864.0,6,1,P,85,34,...,1,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,1,N,Y
3,676,202104,N,204103,NaN,0,1,P,79,23,...,2,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N,7
4,765,202103,N,203602,12700.0,0,1,S,60,43,...,2,Other sellers,Other servicers,NaN,NaN,9,NaN,1,N,7

### Select Columns

Pick out the columns we could probably be interested in

In [5]:
#Transform the columns we want to get the right indices
fredKeepColumns = [1, 6, 9, 10, 11, 12, 13, 15, 20, 24]
fredKeepColumns = [x - 1 for x in fredKeepColumns]

#Subsetting
fredM21Q1 = fredM21Q1.iloc[:, fredKeepColumns]
fredM21Q1.head()

,Credit Score,Mortgage Insurance Percentage (MI %),Original Combined Loan-to-Value (CLTV),Original Debt-to-Income (DTI) Ratio,Original UPB,Original Loan-to-Value (LTV),Original Interest Rate,Prepayment Penalty Mortgage (PPM) Flag,Loan Sequence Number,Seller Name
0,725,0,80,30,298000,80,2.625,N,F20Q41275812,"WELLS FARGO BANK, N.A."
1,737,0,74,27,280000,74,2.500,N,F21Q11275813,Other sellers
2,744,6,85,34,285000,85,2.625,N,F21Q11275814,Other sellers
3,676,0,79,23,146000,79,3.000,N,F21Q11275815,Other sellers
4,765,0,60,43,312000,60,2.125,N,F21Q11275816,Other sellers

Some of these column names are unwieldly, so let's fix that. Also, let's move the 'LoanSeqNum' (the identifier) to the first column:

In [6]:
fredM21Q1.columns = ['CreditScore', 'MIPerc', 'CLTVRatio', 'DTIRatio', 
                      'UPB', 'LTVRatio', 'IntRate', 'PPMFlag', 'LoanSeqNum', 'SellerName']
fredM21Q1 = fredM21Q1[['LoanSeqNum'] + [col for col in fredM21Q1.columns if col != 'LoanSeqNum']]
fredM21Q1.head(10)

,LoanSeqNum,CreditScore,MIPerc,CLTVRatio,DTIRatio,UPB,LTVRatio,IntRate,PPMFlag,SellerName
0,F20Q41275812,725,0,80,30,298000,80,2.625,N,"WELLS FARGO BANK, N.A."
1,F21Q11275813,737,0,74,27,280000,74,2.500,N,Other sellers
2,F21Q11275814,744,6,85,34,285000,85,2.625,N,Other sellers
3,F21Q11275815,676,0,79,23,146000,79,3.000,N,Other sellers
4,F21Q11275816,765,0,60,43,312000,60,2.125,N,Other sellers
5,F21Q11275817,686,0,80,39,292000,80,3.375,N,Other sellers
6,F21Q11275818,762,0,80,20,352000,80,2.625,N,Other sellers
7,F21Q11275819,647,0,80,34,339000,80,3.500,N,Other sellers
8,F21Q11275820,786,0,77,16,215000,77,2.750,N,Other sellers
9,F21Q11275821,749,30,93,45,149000,93,3.000,N,Other sellers

### Missing Data

Let's check for missing data.

In [7]:
fredM21Q1.isna().sum() + fredM21Q1.eq('').sum()

LoanSeqNum     0
CreditScore    0
MIPerc         0
CLTVRatio      0
DTIRatio       0
UPB            0
LTVRatio       0
IntRate        0
PPMFlag        0
SellerName     0
dtype: int64

Luckily, we have none.

## Freddie Mac Dataset 2

The other (considerably larger) dataset from Freddie Mac has the actual information on which loans have defaulted. This set is a Panel dataset organized by loan and a year-monthly entry for the current balance of the loan, default status, etc. Due to it's size, we only import the first 5 columns (which still takes a couple minutes to load) and label the columns.

In [8]:
fredMMonthly = pd.read_csv('historical_data_time_2021Q1.txt', sep="|", header=None, usecols=range(5))

C:\Users\sauna\AppData\Local\Temp\ipykernel_16880\2315579859.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  fredMMonthly = pd.read_csv('historical_data_time_2021Q1.txt', sep="|", header=None, usecols=range(5))

In [9]:
print(fredMMonthly.shape)

(38264988, 5)

In [10]:
fredMMonthly.columns = ['LoanSeqNum', 'YearMonth', 'Balance', 'DefaultMonths', 'LoanAge']
fredMMonthly.head(40)

      LoanSeqNum  YearMonth    Balance DefaultMonths  LoanAge
0   F20Q41275812     202102  296000.00             0        0
1   F20Q41275812     202103  296000.00             0        1
2   F20Q41275812     202104  296000.00             0        2
3   F20Q41275812     202105  295000.00             0        3
4   F20Q41275812     202106  295000.00             0        4
5   F20Q41275812     202107  295000.00             0        5
6   F20Q41275812     202108  294000.00             0        6
7   F20Q41275812     202109  293598.21             0        7
8   F20Q41275812     202110  293043.57             0        8
9   F20Q41275812     202111  292487.71             0        9
10  F20Q41275812     202112  291930.64             0       10
11  F20Q41275812     202201  291372.35             0       11
12  F20Q41275812     202202  290812.84             0       12
13  F20Q41275812     202203  290252.10             0       13
14  F20Q41275812     202204  289690.14             0       14
15  F20Q41275812     202205  289126.95             0       15
16  F20Q41275812     202206  288562.53             0       16
17  F20Q41275812     202207  287996.87             0       17
18  F20Q41275812     202208  287429.97             0       18
19  F20Q41275812     202209  286861.83             0       19
20  F20Q41275812     202210  286292.45             0       20
21  F20Q41275812     202211  285721.82             0       21
22  F20Q41275812     202212  285149.95             0       22
23  F20Q41275812     202301  284576.83             0       23
24  F20Q41275812     202302  284002.45             0       24
25  F20Q41275812     202303  283426.82             0       25
26  F20Q41275812     202304  282849.93             0       26
27  F20Q41275812     202305  282271.77             0       27
28  F20Q41275812     202306  281692.35             0       28
29  F20Q41275812     202307  281111.66             0       29
30  F20Q41275812     202308  280529.70             0       30
31  F20Q41275812     202309  279946.47             0       31
32  F20Q41275812     202310  279361.96             0       32
33  F20Q41275812     202311  278776.17             0       33
34  F20Q41275812     202312  278189.10             0       34
35  F21Q11275813     202102  280000.00             0        0
36  F21Q11275813     202103  279000.00             0        1
37  F21Q11275813     202104  279000.00             0        2
38  F21Q11275813     202105  278000.00             0        3
39  F21Q11275813     202106  278000.00             0        4

There is a quirk with the 'DefaultMonths' column where there are sometimes strings for other purposes. We don't care about those so we throw away those rows. (This takes about 30 seconds.)

In [11]:
fredMMonthly = fredMMonthly[fredMMonthly['DefaultMonths'].apply(lambda x: isinstance(x, (int, float)))]

### Defaulted Loans

It is common in the literature to define default status as either 60 days or 90 days without payment. We chose 30 days instead, just to label a larger amount of loans in default, since otherwise the default rate is almost 0. We identify delinquent loans, and create a new dataset tagging those with a 'DefaultFlag' 1, and then add all the other loans remaining with a tag of 0. This is (at least according to the Internet) significantly efficient than using a group_by method, which seemed to be the case in my experimentation.

In [12]:
# Identify loans with over the default threshold
defaultThreshold = 2
fredMDefaultedLoans = fredMMonthly[fredMMonthly['DefaultMonths'] >= defaultThreshold]

# Create a new DataFrame with unique LoanSeqNum and flag if defaulted
fredMDefault = pd.DataFrame(fredMDefaultedLoans['LoanSeqNum'].unique(), columns=['LoanSeqNum'])
fredMDefault['DefaultFlag'] = 1

# Merge with original list of LoanSeqNum to ensure all loans are included
fredMDefault = fredMMonthly[['LoanSeqNum']].merge(fredMDefault, on='LoanSeqNum', how='left').fillna(0)

# Drop duplicates if any
fredMDefault.drop_duplicates(inplace=True)

# Make our new column an int
fredMDefault['DefaultFlag'] = fredMDefault['DefaultFlag'].astype(int)

## Merging Freddie Mac Data Together

We merge these two datasets from Freddie Mac together with an inner merge, since the only loans relevant to our analysis are those that we actually have default information on. We only lose about 1.5% of loans from Freddie Mac in 2021 Q1 in this process. We also check again that there is no missing data.

In [13]:
fredMData = pd.merge(fredM21Q1, fredMDefault, on='LoanSeqNum', how='inner')
print(fredM21Q1.shape[0] - fredMData.shape[0])

print(fredMData.isna().sum() + fredMData.eq('').sum())
fredMData.head()

18337
LoanSeqNum     0
CreditScore    0
MIPerc         0
CLTVRatio      0
DTIRatio       0
UPB            0
LTVRatio       0
IntRate        0
PPMFlag        0
SellerName     0
DefaultFlag    0
dtype: int64

,LoanSeqNum,CreditScore,MIPerc,CLTVRatio,DTIRatio,UPB,LTVRatio,IntRate,PPMFlag,SellerName,DefaultFlag
0,F20Q41275812,725,0,80,30,298000,80,2.625,N,"WELLS FARGO BANK, N.A.",0
1,F21Q11275813,737,0,74,27,280000,74,2.500,N,Other sellers,0
2,F21Q11275814,744,6,85,34,285000,85,2.625,N,Other sellers,0
3,F21Q11275815,676,0,79,23,146000,79,3.000,N,Other sellers,0
4,F21Q11275816,765,0,60,43,312000,60,2.125,N,Other sellers,0

## Fannie Mae Dataset

While this is only one dataset, it is also about five times the size of the latter Freddie Mac dataset. Since it has the structure of the panel data from above (Freddie Mac Dataset 2) but also has all the information and more of the first dataset (Freddie Mac Dataset 1) in each row as well.  We will try to limit the amount of data we even have to load in the first place in order to speed this up as much as possible.

In [14]:
#Transform the columns we want to get the right indices
fannKeepColumns = [2, 5, 34, 21, 23, 24, 10, 20, 8, 36, 40]
fannKeepColumns = [x - 1 for x in fannKeepColumns]

fannM21Q1 = pd.read_csv('2021Q1.csv', sep="|", header=None, usecols=fannKeepColumns)
fannM21Q1.head(40)

,1,4,7,9,19,20,22,23,33,35,39
0,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
1,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
2,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
3,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
4,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
5,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
6,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
7,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
8,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
9,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
10,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
11,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
12,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
13,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
14,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
15,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
16,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
17,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
18,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
19,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
20,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
21,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
22,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
23,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
24,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
25,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
26,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
27,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
28,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
29,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
30,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
31,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
32,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
33,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
34,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
35,122128311,"loanDepot.com, LLC",2.125,619000.0,69,69,48.0,798.0,NaN,N,0
36,122128312,Other,2.625,636000.0,80,80,33.0,792.0,NaN,N,0
37,122128312,Other,2.625,636000.0,80,80,33.0,792.0,NaN,N,0
38,122128312,Other,2.625,636000.0,80,80,33.0,792.0,NaN,N,0
39,122128312,Other,2.625,636000.0,80,80,33.0,792.0,NaN,N,0

In [15]:
fannM21Q1.shape

(45545049, 11)

In [16]:
fannM21Q1.columns = ['LoanSeqNum', 'SellerName', 'IntRate', 'UPB', 'LTVRatio',
                     'CLTVRatio', 'DTIRatio', 'CreditScore', 'MIPerc', 'PPMFlag', 'DefaultMonths']

When 'MIPerc' should be 0, we have a blank entry instead so let's fix that.

In [17]:
fannM21Q1['MIPerc'] = fannM21Q1['MIPerc'].fillna(0)

### Defaulted Loans

Since this is structured similarly to the second dataset, we re-use much of the code to get a dataset of defaulted loans.

In [18]:
# Identify loans with over the default threshold
defaultThreshold = 2
fannMDefaultedLoans = fannM21Q1[fannM21Q1['DefaultMonths'] >= defaultThreshold]

# Create a new DataFrame with unique LoanSeqNum and flag if defaulted
fannMDefault = pd.DataFrame(fannMDefaultedLoans['LoanSeqNum'].unique(), columns=['LoanSeqNum'])
fannMDefault['DefaultFlag'] = 1

# Merge with original list of LoanSeqNum to ensure all loans are included
fannMDefault = fannM21Q1[['LoanSeqNum']].merge(fannMDefault, on='LoanSeqNum', how='left').fillna(0)

# Drop duplicates if any
fannMDefault.drop_duplicates(inplace=True)

# Make our new column an int
fannMDefault['DefaultFlag'] = fannMDefault['DefaultFlag'].astype(int)

### Cross Section

We now recreate the cross sectional dataset that corresponds to the Freddie Mac Dataset 1, by dropping the 'DefaultMonths' Variable and only keeping the first entry for each loan which anyway has all the relevant information.

In [19]:
fannM21Q1 = fannM21Q1.drop_duplicates(subset='LoanSeqNum', keep='first')
fannM21Q1 = fannM21Q1.drop(columns='DefaultMonths')

### Missing Data and Merging Fannie Mae Data

Let's check each of our datasets for missing data and then proceed to inner join them like we did the Freddie Mac data.

In [20]:
fannMData = pd.merge(fannM21Q1, fannMDefault, on='LoanSeqNum', how='inner')

print(fannMData.isna().sum() + fannMData.eq('').sum())

LoanSeqNum       0
SellerName       0
IntRate          0
UPB              0
LTVRatio         0
CLTVRatio        0
DTIRatio        33
CreditScore    386
MIPerc           0
PPMFlag          0
DefaultFlag      0
dtype: int64

It's such a small subset of the data, that we can avoid the headache and just drop the couple of problematic rows.

In [21]:
fannMData.replace('', pd.NA, inplace=True)
fannMData = fannMData.dropna()

## The Originators

The good plurality (about 30-40%)) of data in our datasets have "Other" or "Other Sellers" listed as the 'SellerName'. If we can't differentiate them by FinTech or traditional, then we have to omit them from our analysis. This leaves us with about 1.5 million loans from the quarter to analyze.

In [22]:
fredMData = fredMData[fredMData['SellerName'] != 'Other sellers']
fannMData = fannMData[fannMData['SellerName'] != 'Other']

In [23]:
fredMData.shape[0] + fredMData.shape[0]

1538174

### Originator Distributions

We can look at the overall distribution of the named sellers left.

In [24]:
fredMData['SellerName'].value_counts()

SellerName
QUICKEN LOANS, LLC                           105216
PENNYMAC CORP.                                60688
WELLS FARGO BANK, N.A.                        60624
UNITED WHOLESALE MORTGAGE, LLC                57409
JPMORGAN CHASE BANK, NATIONAL ASSOCIATION     54688
LOANDEPOT.COM, LLC                            49315
NATIONSTAR MORTGAGE LLC DBA MR. COOPER        47508
NEWREZ LLC                                    44480
AMERIHOME MORTGAGE COMPANY, LLC               41151
FAIRWAY INDEPENDENT MORTGAGE CORPORATION      31719
HOME POINT FINANCIAL CORPORATION              30978
CALIBER HOME LOANS, INC.                      28907
U.S. BANK N.A.                                28122
TRUIST BANK                                   21160
GUARANTEED RATE, INC.                         21134
AMERISAVE MORTGAGE CORPORATION                20053
CITIZENS BANK, NA                             19235
FLAGSTAR BANK, FSB                            18110
PENNYMAC LOAN SERVICES, LLC                   15896
CROSSCOUNTRY MORTGAGE, LLC                    12694
Name: count, dtype: int64

In [25]:
fannMData['SellerName'].value_counts()

SellerName
Quicken Loans, LLC                                 183061
United Wholesale Mortgage, LLC                      79071
Wells Fargo Bank, N.A.                              65396
PennyMac Corp.                                      40279
loanDepot.com, LLC                                  38029
Home Point Financial Corporation                    36655
JPMorgan Chase Bank, National Association           30191
Amerisave Mortgage Corporation                      24171
Better Mortgage Corporation                         23836
Caliber Home Loans, Inc.                            23538
U.S. Bank N.A.                                      21433
NationStar Mortgage, LLC                            20157
CrossCountry Mortgage, LLC                          18504
Broker Solutions, Inc. dba New American Funding     18095
Movement Mortgage, LLC                              17704
Flagstar Bank, FSB                                  14111
Finance of America Mortgage LLC                     12905
NewRez LLC                                          12520
Cardinal Financial Company, Limited Partnership      5862
Guild Mortgage Company LLC                           4489
Name: count, dtype: int64

Since Fannie Mae's naming conventions look better, we will look to alter Freddie Mac's in a similar style.

In [26]:
renamingRules = {
    'QUICKEN LOANS, LLC': 'Quicken Loans, LLC',
    'PENNYMAC CORP.': 'PennyMac Corp.',
    'WELLS FARGO BANK, N.A.': 'Wells Fargo Bank, N.A.',
    'UNITED WHOLESALE MORTGAGE, LLC': 'United Wholesale Mortgage, LLC', 
    'JPMORGAN CHASE BANK, NATIONAL ASSOCIATION': 'JPMorgan Chase Bank, National Association',
    'LOANDEPOT.COM, LLC': 'loanDepot.com, LLC',
    'NATIONSTAR MORTGAGE LLC DBA MR. COOPER': 'NationStar Mortgage, LLC',
    'NEWREZ LLC': 'NewRez LLC',
    'AMERIHOME MORTGAGE COMPANY, LLC': 'AmeriHome Mortgage Company, LLC',
    'FAIRWAY INDEPENDENT MORTGAGE CORPORATION': 'Fairway Independent Mortgage Corporation',
    'HOME POINT FINANCIAL CORPORATION': 'Home Point Financial Corporation',
    'CALIBER HOME LOANS, INC.': 'Caliber Home Loans, Inc.',
    'U.S. BANK N.A.': 'U.S. Bank N.A.',
    'TRUIST BANK': 'Truist Bank',
    'GUARANTEED RATE, INC.': 'Guaranteed Rate, Inc.',
    'AMERISAVE MORTGAGE CORPORATION': 'Amerisave Mortgage Corporation',
    'CITIZENS BANK, NA': 'Citizens Bank, N.A.',
    'FLAGSTAR BANK, FSB': 'Flagstar Bank, FSB',
    'PENNYMAC LOAN SERVICES, LLC': 'PennyMac Corp.',
    'CROSSCOUNTRY MORTGAGE, LLC': 'Crosscountry Mortgage, LLC'
}

fredMData['SellerName'] = fredMData['SellerName'].replace(renamingRules)

## Merge Data

Let us tag and merge the data from our two sources.

In [33]:
fredMData['DataSource'] = 'FreddieMac'
fannMData['DataSource'] = 'FannieMae'

In [34]:
##Reorder Fannie Mae's data's columns
fannMData = fannMData[fredMData.columns]

##Check Column Names Match
columns_match = all(fredMData.columns == fannMData.columns)
print("Column names match:", columns_match)

##Force and Check Data Types Match
fannMColsConvert = ['CreditScore', 'MIPerc', 'DTIRatio', 'UPB']
fannMData[fannMColsConvert] = fannMData[fannMColsConvert].astype('int64', errors='ignore')
fannMData['LoanSeqNum'] = fannMData['LoanSeqNum'].astype('object', errors='ignore')

dtypes_match = all(fredMData.dtypes == fannMData.dtypes)
print("Data types match:", dtypes_match)

Column names match: True
Data types match: True

Everything is as we expect, let's merge.

In [35]:
merged2021Q1 = pd.concat([fredMData, fannMData], axis=0)
print(merged2021Q1.shape)
merged2021Q1.sample(20)

(1459094, 12)

,LoanSeqNum,CreditScore,MIPerc,CLTVRatio,DTIRatio,UPB,LTVRatio,IntRate,PPMFlag,SellerName,DefaultFlag,DataSource
116477,122244788,744,25,90,31,195000,90,2.875,N,"CrossCountry Mortgage, LLC",0,FannieMae
717711,122846041,779,0,50,23,200000,50,2.625,N,"JPMorgan Chase Bank, National Association",0,FannieMae
1027218,F21Q12319998,767,0,75,43,219000,75,2.940,N,"Quicken Loans, LLC",0,FreddieMac
1002098,123130428,767,30,95,48,727000,95,2.990,N,"CrossCountry Mortgage, LLC",0,FannieMae
434963,122563274,776,0,32,42,286000,32,2.500,N,"Quicken Loans, LLC",0,FannieMae
1325527,123453857,808,0,64,23,159000,64,2.990,N,"Quicken Loans, LLC",0,FannieMae
1203928,123332258,776,0,72,44,108000,72,2.875,N,"Quicken Loans, LLC",0,FannieMae
1343971,123472301,800,0,52,21,207000,52,2.625,N,NewRez LLC,0,FannieMae
506391,F21Q11792112,779,0,79,32,493000,79,3.750,N,"Wells Fargo Bank, N.A.",0,FreddieMac
554581,122682911,809,0,67,35,210000,67,2.687,N,"Movement Mortgage, LLC",0,FannieMae
477050,F21Q11762209,782,0,31,35,201000,31,2.750,N,U.S. Bank N.A.,0,FreddieMac
312402,F21Q11595167,788,0,80,35,390000,80,2.625,N,U.S. Bank N.A.,0,FreddieMac
675274,122803604,682,0,80,36,62000,80,3.500,N,Amerisave Mortgage Corporation,0,FannieMae
1067950,F21Q12361861,802,6,82,36,171000,82,2.750,N,"Wells Fargo Bank, N.A.",0,FreddieMac
718587,F21Q12006180,771,0,49,47,812000,49,2.999,N,"United Wholesale Mortgage, LLC",0,FreddieMac
194204,F21Q11473671,747,0,80,38,58000,80,3.000,N,PennyMac Corp.,0,FreddieMac
1042719,F21Q12336061,729,0,60,50,425000,60,3.375,N,"Caliber Home Loans, Inc.",1,FreddieMac
733322,122861652,815,0,78,19,183000,78,2.750,N,"JPMorgan Chase Bank, National Association",0,FannieMae
898187,F21Q12188697,781,0,73,42,467000,73,3.250,N,"JPMorgan Chase Bank, National Association",0,FreddieMac
932256,123060586,788,0,40,16,399000,40,2.990,N,"Flagstar Bank, FSB",0,FannieMae

It turns out that the 'PPMFlag' which is supposed to indicate a prepayment penalty on a mortgage, does not exist for any of the loans still remaining in our dataset. So we throw it out.

In [36]:
merged2021Q1 = merged2021Q1.drop(columns='PPMFlag')
merged2021Q1.shape

(1459094, 11)

There are also some nonsensical credit scores which we should remove, and some CLTV and DTI numbers that are tags for missing data.

In [37]:
merged2021Q1 = merged2021Q1[merged2021Q1['CreditScore'] <= 850]
merged2021Q1 = merged2021Q1[merged2021Q1['CLTVRatio'] <= 200]
merged2021Q1 = merged2021Q1[merged2021Q1['DTIRatio'] <= 100]

## Writing the Data to a file

In [38]:
merged2021Q1.to_csv('.\merged2021Q1.csv', index=False)